# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PostgreSqlDistributedLock.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\sample-projects\PostgreSqlDistributedLock\.idea\.idea.PostgreSqlDistributedLock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
